footer {
	background: $navyBlue;
	color: $white;
	@media (min-width: 850px) {
		display: flex;
	}
	div {
		width: 100%;
		box-sizing: border-box;
		padding: 20px 0 0;
		text-align: center;
		@media (min-width: 850px) {
			flex-grow: 1;
		}
		h2 {
			font-weight: $font-light;
			font-size: 1.1em;
		}
		ul {
			list-style: none;
			display: flex;
			padding: 0;
			li {
				padding-top: 15px;
				display: inline-block;
				flex-grow: 1;
				.border {
					margin: 0 auto;
					height: 54px;
					width: 54px;
				}
				i {
					font-size: 20px;
				}
				i, .border {
					border-radius: 50%;
				    border: 2px solid $red;
				    padding: 15px;
				}
				img {
					height: 18px;
				}
				a {
					color: $white;
				}
				h4 {
					font-weight: $font-light;
					font-size: 0.8em;
				}
			} //end li
		} //end ul
	} //end div
} //end footer
