section {
	padding: 5% 15%;
	color: $navyBlue;
	h1 {
		font-size: 2.5em;
	}
	h1, h2 {
		color: $red;
		font-weight: $font-light;
		margin-bottom: 15px;
	}
	&.blue {
		background: $navyBlue;
		color: $white;
		p {
			font-weight: $font-light;
		}
	}
	&.grey {
		background: $lightGrey;
	}
	&.white {
		background: $white;
	}
	.button {
		@include buttonStyles;
		&.red-button {
			@include redButton;
			&:hover {
				@include whiteButton;
			}
		}
		&.white-button {
			@include whiteButton;
			&:hover {
				@include redButton;
			}
		}
	} //end .button
} //end section